In [2]:
# Importing all the necessary files

import numpy as np
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt
%matplotlib inline

# Reading .csv file
df1 = pd.read_csv("train_data.csv")
df2 = pd.read_csv("test_data.csv")

In [3]:
df1.shape

(148670, 34)

In [4]:
df2.shape

(63717, 33)

In [5]:
# Checking whether dataframe columns are equal or not
dataframes = [df1, df2]

# Checking all dataframe columns, whether they are equal or not
if all([len(dataframes[0].columns.intersection(df.columns)) 
      == dataframes[0].shape[1] for df in dataframes]) == True:
    print("The dataframes have same column names")
else:
    print("The dataframes does not have same column names")

The dataframes does not have same column names

In [6]:
# Finding column differences
tr_cols = df1.columns
te_cols = df2.columns
print(tr_cols.difference(te_cols))
print(te_cols.difference(tr_cols))

Index(['Status'], dtype='object')
Index([], dtype='object')

In [7]:
df1.dtypes

ID                             int64
year                           int64
loan_limit                    object
Gender                        object
approv_in_adv                 object
loan_type                     object
loan_purpose                  object
Credit_Worthiness             object
open_credit                   object
business_or_commercial        object
loan_amount                    int64
rate_of_interest             float64
Interest_rate_spread         float64
Upfront_charges              float64
term                         float64
Neg_ammortization             object
interest_only                 object
lump_sum_payment              object
property_value               float64
construction_type             object
occupancy_type                object
Secured_by                    object
total_units                   object
income                       float64
credit_type                   object
Credit_Score                   int64
co-applicant_credit_type      object
age                           object
submission_of_application     object
LTV                          float64
Region                        object
Security_Type                 object
Status                         int64
dtir1                        float64
dtype: object

In [8]:
# Finding null values in df1
df1.isnull().sum()

ID                               0
year                             0
loan_limit                    3344
Gender                           0
approv_in_adv                  908
loan_type                        0
loan_purpose                   134
Credit_Worthiness                0
open_credit                      0
business_or_commercial           0
loan_amount                      0
rate_of_interest             36439
Interest_rate_spread         36639
Upfront_charges              39642
term                            41
Neg_ammortization              121
interest_only                    0
lump_sum_payment                 0
property_value               15098
construction_type                0
occupancy_type                   0
Secured_by                       0
total_units                      0
income                        9150
credit_type                      0
Credit_Score                     0
co-applicant_credit_type         0
age                            200
submission_of_application      200
LTV                          15098
Region                           0
Security_Type                    0
Status                           0
dtir1                        24121
dtype: int64

In [9]:
# Finding null values in df2
df2.isnull().sum()

ID                               0
year                             0
loan_limit                    1424
Gender                           0
approv_in_adv                  416
loan_type                        0
loan_purpose                    58
Credit_Worthiness                0
open_credit                      0
business_or_commercial           0
loan_amount                      0
rate_of_interest             15573
Interest_rate_spread         15662
Upfront_charges              16967
term                            14
Neg_ammortization               38
interest_only                    0
lump_sum_payment                 0
property_value                6324
construction_type                0
occupancy_type                   0
Secured_by                       0
total_units                      0
income                        3889
credit_type                      0
Credit_Score                     0
co-applicant_credit_type         0
age                             89
submission_of_application       89
LTV                           6324
Region                           0
Security_Type                    0
dtir1                        10153
dtype: int64

In [10]:
# Removing unimportant columns

df1 = df1.drop(["year", "loan_purpose", "Interest_rate_spread", "Upfront_charges", "term","LTV"], axis = 1)
df2 = df2.drop(["year", "loan_purpose", "Interest_rate_spread", "Upfront_charges", "term","LTV"], axis = 1)

In [11]:
# Checking set of values in all columns
for i in df1.columns:
    print("\nValues for ", i)
    print(df1[i].unique())

Values for  ID
[ 24890  24891  24892 ... 173557 173558 173559]

Values for  loan_limit
['cf' nan 'ncf']

Values for  Gender
['Sex Not Available' 'Male' 'Joint' 'Female']

Values for  approv_in_adv
['nopre' 'pre' nan]

Values for  loan_type
['type1' 'type2' 'type3']

Values for  Credit_Worthiness
['l1' 'l2']

Values for  open_credit
['nopc' 'opc']

Values for  business_or_commercial
['nob/c' 'b/c']

Values for  loan_amount
[ 116500  206500  406500  456500  696500  706500  346500  266500  376500
  436500  136500  466500  226500   76500  356500  156500  586500  306500
  316500  336500  426500  476500  196500  186500  246500  216500  506500
  656500  256500  396500  166500  236500  866500  416500  386500  596500
  606500   86500  286500  146500  446500  636500  486500  326500   56500
  906500  496500  106500  126500  296500  176500 1376500  566500  686500
  556500  676500  366500  276500  716500   66500  616500   96500  826500
   26500  666500  546500  986500  526500 1226500  726500 1486500 1416500
  536500  796500  516500   46500  876500  576500  626500 1506500  886500
  816500  646500  776500  746500  736500  896500  836500  806500 1386500
  976500  926500  786500  766500 1176500 2006500  756500 1136500  966500
 1356500 1056500 1546500 1186500  996500 1496500  916500  936500   36500
 1456500 1146500 1276500 1046500 1156500 1326500 3006500 1366500 1006500
 1466500 1126500 1236500 3576500 1096500 1166500 1806500 1406500  846500
 1036500 1026500 1206500 1016500 2106500 1396500 1266500 1606500  946500
 1316500 1676500 1346500 1076500  956500 1116500 1716500 1086500 1216500
 1436500 1106500 2396500 1246500 1066500 1256500 1286500 2476500 1196500
  856500 1446500 1756500 1306500 1646500 1786500 1556500 1586500 1516500
 1746500 1336500 2206500 2506500 1686500 1616500 2606500 1706500 1726500
 1426500 1476500 2926500 1626500 2126500 2056500 1636500 1926500 1576500
 1776500 1906500 1296500 1936500 1896500 2406500 2706500 2086500 2146500
 2186500 1656500 1846500 1566500 1966500 1916500 3346500 1886500 1826500
 1696500 2986500 2596500 1596500 1836500 2076500   16500 1526500 2626500
 2226500 2276500 2256500 1956500]

Values for  rate_of_interest
[  nan 4.56  4.25  4.    3.99  4.5   4.125 4.875 3.49  4.375 3.625 3.175
 2.99  4.99  5.25  3.75  3.375 3.25  2.75  3.875 3.5   4.75  3.125 5.19
 4.49  2.875 5.125 4.625 3.7   5.    3.    5.375 4.18  3.69  5.5   3.65
 5.75  3.775 3.56  5.625 6.24  4.475 3.4   2.925 3.925 5.74  5.875 3.45
 4.275 2.975 3.725 2.85  3.675 3.55  3.93  2.375 3.85  3.525 2.725 2.5
 2.6   5.99  5.49  8.    3.025 3.8   2.775 3.05  3.325 6.    3.825 3.15
 3.1   4.4   3.3   4.05  6.75  4.025 3.475 2.625 3.225 3.575 4.175 3.9
 2.95  3.075 3.275 7.    3.425 5.69  5.3   3.2   3.6   2.65  3.35  7.75
 4.225 2.25  3.95  4.7   2.125 2.8   0.    4.2   3.975 4.075 2.675 7.375
 4.44  4.865 4.15  6.125 4.1   6.375 6.5   4.35  4.3   6.25  2.475 4.425
 4.525 7.5   4.55  4.95  4.82  6.875 4.325 2.575 2.9   3.74  7.125 2.7  ]

Values for  Neg_ammortization
['not_neg' 'neg_amm' nan]

Values for  interest_only
['not_int' 'int_only']

Values for  lump_sum_payment
['not_lpsm' 'lpsm']

Values for  property_value
[1.1800e+05        nan 5.0800e+05 6.5800e+05 7.5800e+05 1.0080e+06
 4.3800e+05 3.0800e+05 4.7800e+05 6.8800e+05 1.6800e+05 7.0800e+05
 2.5800e+05 2.9800e+05 1.3800e+05 3.6800e+05 5.9800e+05 7.4800e+05
 5.5800e+05 1.9800e+05 4.4800e+05 4.2800e+05 5.6800e+05 2.1800e+05
 4.6800e+05 2.2800e+05 3.1800e+05 3.3800e+05 5.3800e+05 4.0800e+05
 1.0180e+06 1.1080e+06 4.1800e+05 5.2800e+05 2.4800e+05 1.5080e+06
 6.0800e+05 6.6800e+05 8.0800e+05 9.4800e+05 1.2800e+05 2.3800e+05
 7.1800e+05 8.8800e+05 1.4800e+05 6.2800e+05 9.2800e+05 2.0800e+05
 1.1980e+06 1.8800e+05 5.8800e+05 1.3080e+06 6.7800e+05 3.5800e+05
 2.8800e+05 2.0080e+06 5.7800e+05 3.4080e+06 3.4800e+05 8.8000e+04
 4.9800e+05 8.1800e+05 7.6800e+05 3.8800e+05 6.1800e+05 8.9800e+05
 2.7800e+05 9.7800e+05 1.7080e+06 8.5800e+05 4.5800e+05 6.3800e+05
 1.2080e+06 6.4800e+05 9.0800e+05 1.1380e+06 7.9800e+05 3.7800e+05
 1.5800e+05 8.2800e+05 3.9800e+05 1.0800e+05 1.2680e+06 1.0680e+06
 7.8000e+04 4.8800e+05 1.2980e+06 5.4800e+05 7.8800e+05 5.1800e+05
 9.3800e+05 1.7800e+05 8.3800e+05 1.7580e+06 3.2800e+05 2.1280e+06
 3.8480e+06 9.9800e+05 7.3800e+05 7.7800e+05 2.3980e+06 7.2800e+05
 9.8000e+04 9.5800e+05 2.6800e+05 6.8000e+04 8.7800e+05 6.9800e+05
 2.6080e+06 1.0480e+06 9.8800e+05 8.4800e+05 8.6800e+05 1.5380e+06
 2.3080e+06 1.9480e+06 1.2580e+06 1.1280e+06 1.3380e+06 1.0280e+06
 1.2280e+06 1.0880e+06 1.1680e+06 1.4680e+06 1.1580e+06 9.1800e+05
 3.1080e+06 1.9080e+06 1.2180e+06 1.0780e+06 1.0380e+06 1.3680e+06
 1.2380e+06 2.7880e+06 1.0580e+06 1.4380e+06 1.1480e+06 1.0980e+06
 1.4880e+06 2.5980e+06 1.8080e+06 1.6580e+06 1.4180e+06 2.1080e+06
 1.3580e+06 5.8080e+06 1.6480e+06 9.6800e+05 2.8780e+06 1.4280e+06
 1.5180e+06 3.8080e+06 1.6080e+06 2.0780e+06 1.2480e+06 1.2780e+06
 3.3080e+06 1.5680e+06 1.4080e+06 2.2080e+06 1.3280e+06 1.1780e+06
 1.3780e+06 1.9980e+06 5.8000e+04 1.1180e+06 4.8000e+04 2.5080e+06
 1.5280e+06 1.2880e+06 2.0580e+06 1.4480e+06 1.5580e+06 1.5780e+06
 3.2580e+06 3.8000e+04 2.8080e+06 1.7980e+06 1.8280e+06 5.2580e+06
 1.8680e+06 1.4580e+06 1.7280e+06 2.4580e+06 1.8880e+06 5.2080e+06
 1.6280e+06 1.5480e+06 4.4380e+06 6.4080e+06 1.9580e+06 1.6780e+06
 1.5880e+06 1.3180e+06 1.1880e+06 1.7780e+06 3.5680e+06 2.2580e+06
 2.1580e+06 2.6180e+06 2.4080e+06 3.0080e+06 3.2080e+06 1.6180e+06
 2.7080e+06 1.4780e+06 6.5080e+06 3.3680e+06 3.0780e+06 1.7880e+06
 2.4780e+06 4.3580e+06 3.5580e+06 2.4880e+06 4.2080e+06 2.5580e+06
 3.5080e+06 3.6580e+06 2.4980e+06 1.6680e+06 3.0680e+06 2.6880e+06
 2.9080e+06 1.7180e+06 1.7380e+06 1.7480e+06 1.3880e+06 1.3980e+06
 1.8580e+06 1.9680e+06 2.2280e+06 1.9880e+06 1.6380e+06 2.8980e+06
 1.3480e+06 3.1280e+06 2.3580e+06 3.1980e+06 2.5880e+06 3.6880e+06
 4.0080e+06 3.0980e+06 2.2980e+06 1.8380e+06 1.6980e+06 2.4180e+06
 4.8780e+06 4.5080e+06 1.9780e+06 3.9080e+06 8.0000e+03 1.6508e+07
 1.4980e+06 5.0080e+06 4.4980e+06 2.0480e+06 2.1780e+06 1.5980e+06
 1.6880e+06 2.1980e+06 2.7580e+06 3.1580e+06 2.0380e+06 2.3280e+06
 3.8180e+06 2.8380e+06 5.3080e+06 2.6780e+06 2.7180e+06 2.0280e+06
 2.4280e+06 1.9180e+06 2.5280e+06 2.2680e+06 2.8000e+04 4.4580e+06
 2.5480e+06 2.9480e+06 2.8580e+06 1.7680e+06 1.8780e+06 4.4080e+06
 3.5780e+06 2.2180e+06 1.9280e+06 3.2980e+06 3.8580e+06 2.3380e+06
 4.7780e+06 1.8180e+06 4.6080e+06 3.2180e+06 3.2680e+06 1.8480e+06
 2.0980e+06 2.8880e+06 2.6580e+06 3.2280e+06 2.5680e+06 2.6280e+06
 4.2580e+06 1.1008e+07 6.9080e+06 3.0180e+06 2.3780e+06 1.8980e+06
 2.8180e+06 3.4880e+06 2.3180e+06 2.9680e+06 4.7580e+06 2.3880e+06
 3.7880e+06 2.1180e+06 5.5080e+06 3.0280e+06 2.2380e+06 4.1580e+06
 1.9380e+06 2.9280e+06 5.7580e+06 2.2780e+06 3.8780e+06 4.0580e+06
 2.1480e+06 4.6480e+06 2.9580e+06 2.3680e+06 3.0580e+06 3.4280e+06
 2.5380e+06 2.9380e+06 6.0580e+06 3.4580e+06 2.4680e+06 2.4380e+06
 4.2180e+06 2.1880e+06 3.2780e+06 3.3780e+06 2.0880e+06 2.8480e+06
 2.5780e+06 2.1380e+06 4.4480e+06 2.6680e+06 4.0880e+06 4.1080e+06
 3.0380e+06 6.1080e+06 4.4280e+06 2.7280e+06 8.5080e+06 3.7080e+06
 3.0880e+06 1.2008e+07 4.6580e+06 2.7780e+06 1.0008e+07 3.1680e+06
 3.6080e+06 2.5180e+06 2.0680e+06 3.7780e+06 5.0580e+06 4.5580e+06
 3.7680e+06 2.0180e+06 2.7680e+06 2.8280e+06 6.2080e+06 4.2880e+06
 7.6080e+06 2.4480e+06 3.6780e+06 3.9680e+06 9.2680e+06 2.6380e+06
 4.9080e+06 3.3280e+06 3.7280e+06 4.9180e+06 1.8000e+04 3.1780e+06
 2.3480e+06 2.6980e+06]

Values for  construction_type
['sb' 'mh']

Values for  occupancy_type
['pr' 'sr' 'ir']

Values for  Secured_by
['home' 'land']

Values for  total_units
['1U' '2U' '3U' '4U']

Values for  income
[ 1740.  4980.  9480. ... 72060. 78720. 79920.]

Values for  credit_type
['EXP' 'EQUI' 'CRIF' 'CIB']

Values for  Credit_Score
[758 552 834 587 602 864 860 863 580 788 723 501 884 520 773 685 846 534
 629 688 668 692 620 533 518 812 647 683 705 701 591 889 651 716 780 799
 766 868 765 673 876 886 772 640 798 858 543 555 603 808 519 786 769 556
 567 632 818 584 750 838 741 820 665 783 663 612 739 571 870 793 804 801
 711 634 764 865 593 511 677 774 638 644 732 586 642 872 898 734 639 506
 664 670 577 857 653 595 787 560 613 514 867 717 619 600 524 883 503 887
 604 648 797 806 845 815 585 729 538 791 671 572 755 760 578 836 900 777
 667 880 568 805 590 892 540 869 737 831 608 803 795 674 781 545 796 660
 850 851 794 866 611 621 862 829 848 775 733 700 633 702 882 686 652 844
 649 557 761 569 523 740 690 616 782 601 809 855 768 627 854 762 746 592
 703 697 710 522 789 693 597 680 575 694 581 678 714 871 800 853 718 713
 874 625 626 500 695 517 759 792 822 516 704 605 539 598 763 515 508 529
 830 551 715 802 879 743 699 617 661 896 856 861 767 656 875 778 893 785
 779 565 753 852 719 744 770 614 888 547 728 618 574 505 807 530 814 843
 635 824 559 837 847 885 630 589 654 724 527 738 811 546 537 594 658 583
 666 742 512 877 706 727 698 609 623 544 645 657 712 513 771 736 536 828
 588 730 731 646 563 525 784 725 752 756 833 561 570 899 890 720 722 526
 553 596 549 709 735 776 881 669 726 535 745 636 684 827 672 573 816 707
 607 817 873 810 679 558 624 825 708 502 659 757 599 749 894 541 675 615
 641 682 628 582 832 550 528 509 821 849 691 826 662 504 676 579 689 622
 721 835 532 751 748 610 754 878 823 562 548 631 637 606 687 564 696 819
 839 840 747 681 566 891 790 897 542 813 859 650 842 521 841 531 643 655
 507 576 510 554 895]

Values for  co-applicant_credit_type
['CIB' 'EXP']

Values for  age
['25-34' '55-64' '35-44' '45-54' '65-74' '>74' '<25' nan]

Values for  submission_of_application

['to_inst' 'not_inst' nan]

Values for  Region
['south' 'North' 'central' 'North-East']

Values for  Security_Type
['direct' 'Indriect']

Values for  Status
[1 0]

Values for  dtir1
[45. nan 46. 42. 39. 40. 44. 30. 36. 51. 20. 31.  6. 35. 34. 49. 37. 41.
 38. 56. 23. 28. 11. 27. 55. 22. 24. 52. 33. 26. 47. 60. 25. 32. 10. 15.
 53.  7. 19. 48. 59. 57.  9. 50. 21. 58. 29. 43. 17. 54. 13. 12. 16. 61.
 18. 14.  8.  5.]

In [12]:
# Replacing missing null values in loan_limit column
df1["loan_limit"] = df1["loan_limit"].replace(np.nan, "Not available")
df2["loan_limit"] = df2["loan_limit"].replace(np.nan, "Not available")

In [13]:
# Replacing missing 'approv_in_adv' values with 'nopre'
df1["approv_in_adv"] = df1["approv_in_adv"].replace(np.nan, "nopre")
df2["approv_in_adv"] = df2["approv_in_adv"].replace(np.nan, "nopre")

In [14]:
# Replacing missing 'rate_of_interest' values with median
df1["rate_of_interest"] = df1["rate_of_interest"].replace(np.nan, df1["rate_of_interest"].median())
df2["rate_of_interest"] = df2["rate_of_interest"].replace(np.nan, df2["rate_of_interest"].median())

In [15]:
# Replacing missing 'Neg_ammortization' values with mode
print(df1["Neg_ammortization"].value_counts())
df1["Neg_ammortization"] = df1["Neg_ammortization"].replace(np.nan, "not_neg")
df2["Neg_ammortization"] = df2["Neg_ammortization"].replace(np.nan, "not_neg")

not_neg    133420
neg_amm     15129
Name: Neg_ammortization, dtype: int64

In [16]:
# Replacing missing 'property_value' values with median
df1["property_value"] = df1["property_value"].replace(np.nan, df1["property_value"].median())
df2["property_value"] = df2["property_value"].replace(np.nan, df2["property_value"].median())

In [17]:
# Replacing missing 'income' values with median
df1["income"] = df1["income"].replace(np.nan, df1["income"].median())
df2["income"] = df2["income"].replace(np.nan, df2["income"].median())

In [18]:
# Replacing missing 'age' values with mode
print(df1["age"].value_counts())
print(df2["age"].value_counts())
df1["age"] = df1["age"].replace(np.nan, "35-44")
df2["age"] = df2["age"].replace(np.nan, "35-44")
df1["age"] = df1["age"].replace("-9", "35-44")

45-54    34720
35-44    32818
55-64    32534
65-74    20744
25-34    19142
>74       7175
<25       1337
Name: age, dtype: int64
45-54    14865
35-44    14066
55-64    13846
65-74     9013
25-34     8230
>74       3022
<25        586
Name: age, dtype: int64

In [19]:
# Replacing missing null values in 'submission_of_application' column
df1["submission_of_application"] = df1["submission_of_application"].replace(np.nan, "Not available")
df2["submission_of_application"] = df2["submission_of_application"].replace(np.nan, "Not available")

In [20]:
# Checking set of values in all columns
for i in df1.columns:
    print("\nValues for ", i)
    print(df1[i].unique())

Values for  ID
[ 24890  24891  24892 ... 173557 173558 173559]

Values for  loan_limit
['cf' 'Not available' 'ncf']

Values for  Gender
['Sex Not Available' 'Male' 'Joint' 'Female']

Values for  approv_in_adv
['nopre' 'pre']

Values for  loan_type
['type1' 'type2' 'type3']

Values for  Credit_Worthiness
['l1' 'l2']

Values for  open_credit
['nopc' 'opc']

Values for  business_or_commercial
['nob/c' 'b/c']

Values for  loan_amount
[ 116500  206500  406500  456500  696500  706500  346500  266500  376500
  436500  136500  466500  226500   76500  356500  156500  586500  306500
  316500  336500  426500  476500  196500  186500  246500  216500  506500
  656500  256500  396500  166500  236500  866500  416500  386500  596500
  606500   86500  286500  146500  446500  636500  486500  326500   56500
  906500  496500  106500  126500  296500  176500 1376500  566500  686500
  556500  676500  366500  276500  716500   66500  616500   96500  826500
   26500  666500  546500  986500  526500 1226500  726500 1486500 1416500
  536500  796500  516500   46500  876500  576500  626500 1506500  886500
  816500  646500  776500  746500  736500  896500  836500  806500 1386500
  976500  926500  786500  766500 1176500 2006500  756500 1136500  966500
 1356500 1056500 1546500 1186500  996500 1496500  916500  936500   36500
 1456500 1146500 1276500 1046500 1156500 1326500 3006500 1366500 1006500
 1466500 1126500 1236500 3576500 1096500 1166500 1806500 1406500  846500
 1036500 1026500 1206500 1016500 2106500 1396500 1266500 1606500  946500
 1316500 1676500 1346500 1076500  956500 1116500 1716500 1086500 1216500
 1436500 1106500 2396500 1246500 1066500 1256500 1286500 2476500 1196500
  856500 1446500 1756500 1306500 1646500 1786500 1556500 1586500 1516500
 1746500 1336500 2206500 2506500 1686500 1616500 2606500 1706500 1726500
 1426500 1476500 2926500 1626500 2126500 2056500 1636500 1926500 1576500
 1776500 1906500 1296500 1936500 1896500 2406500 2706500 2086500 2146500
 2186500 1656500 1846500 1566500 1966500 1916500 3346500 1886500 1826500
 1696500 2986500 2596500 1596500 1836500 2076500   16500 1526500 2626500
 2226500 2276500 2256500 1956500]

Values for  rate_of_interest
[3.99  4.56  4.25  4.    4.5   4.125 4.875 3.49  4.375 3.625 3.175 2.99
 4.99  5.25  3.75  3.375 3.25  2.75  3.875 3.5   4.75  3.125 5.19  4.49
 2.875 5.125 4.625 3.7   5.    3.    5.375 4.18  3.69  5.5   3.65  5.75
 3.775 3.56  5.625 6.24  4.475 3.4   2.925 3.925 5.74  5.875 3.45  4.275
 2.975 3.725 2.85  3.675 3.55  3.93  2.375 3.85  3.525 2.725 2.5   2.6
 5.99  5.49  8.    3.025 3.8   2.775 3.05  3.325 6.    3.825 3.15  3.1
 4.4   3.3   4.05  6.75  4.025 3.475 2.625 3.225 3.575 4.175 3.9   2.95
 3.075 3.275 7.    3.425 5.69  5.3   3.2   3.6   2.65  3.35  7.75  4.225
 2.25  3.95  4.7   2.125 2.8   0.    4.2   3.975 4.075 2.675 7.375 4.44
 4.865 4.15  6.125 4.1   6.375 6.5   4.35  4.3   6.25  2.475 4.425 4.525
 7.5   4.55  4.95  4.82  6.875 4.325 2.575 2.9   3.74  7.125 2.7  ]

Values for  Neg_ammortization
['not_neg' 'neg_amm']

Values for  interest_only
['not_int' 'int_only']

Values for  lump_sum_payment
['not_lpsm' 'lpsm']

Values for  property_value
[1.1800e+05 4.1800e+05 5.0800e+05 6.5800e+05 7.5800e+05 1.0080e+06
 4.3800e+05 3.0800e+05 4.7800e+05 6.8800e+05 1.6800e+05 7.0800e+05
 2.5800e+05 2.9800e+05 1.3800e+05 3.6800e+05 5.9800e+05 7.4800e+05
 5.5800e+05 1.9800e+05 4.4800e+05 4.2800e+05 5.6800e+05 2.1800e+05
 4.6800e+05 2.2800e+05 3.1800e+05 3.3800e+05 5.3800e+05 4.0800e+05
 1.0180e+06 1.1080e+06 5.2800e+05 2.4800e+05 1.5080e+06 6.0800e+05
 6.6800e+05 8.0800e+05 9.4800e+05 1.2800e+05 2.3800e+05 7.1800e+05
 8.8800e+05 1.4800e+05 6.2800e+05 9.2800e+05 2.0800e+05 1.1980e+06
 1.8800e+05 5.8800e+05 1.3080e+06 6.7800e+05 3.5800e+05 2.8800e+05
 2.0080e+06 5.7800e+05 3.4080e+06 3.4800e+05 8.8000e+04 4.9800e+05
 8.1800e+05 7.6800e+05 3.8800e+05 6.1800e+05 8.9800e+05 2.7800e+05
 9.7800e+05 1.7080e+06 8.5800e+05 4.5800e+05 6.3800e+05 1.2080e+06
 6.4800e+05 9.0800e+05 1.1380e+06 7.9800e+05 3.7800e+05 1.5800e+05
 8.2800e+05 3.9800e+05 1.0800e+05 1.2680e+06 1.0680e+06 7.8000e+04
 4.8800e+05 1.2980e+06 5.4800e+05 7.8800e+05 5.1800e+05 9.3800e+05
 1.7800e+05 8.3800e+05 1.7580e+06 3.2800e+05 2.1280e+06 3.8480e+06
 9.9800e+05 7.3800e+05 7.7800e+05 2.3980e+06 7.2800e+05 9.8000e+04
 9.5800e+05 2.6800e+05 6.8000e+04 8.7800e+05 6.9800e+05 2.6080e+06
 1.0480e+06 9.8800e+05 8.4800e+05 8.6800e+05 1.5380e+06 2.3080e+06
 1.9480e+06 1.2580e+06 1.1280e+06 1.3380e+06 1.0280e+06 1.2280e+06
 1.0880e+06 1.1680e+06 1.4680e+06 1.1580e+06 9.1800e+05 3.1080e+06
 1.9080e+06 1.2180e+06 1.0780e+06 1.0380e+06 1.3680e+06 1.2380e+06
 2.7880e+06 1.0580e+06 1.4380e+06 1.1480e+06 1.0980e+06 1.4880e+06
 2.5980e+06 1.8080e+06 1.6580e+06 1.4180e+06 2.1080e+06 1.3580e+06
 5.8080e+06 1.6480e+06 9.6800e+05 2.8780e+06 1.4280e+06 1.5180e+06
 3.8080e+06 1.6080e+06 2.0780e+06 1.2480e+06 1.2780e+06 3.3080e+06
 1.5680e+06 1.4080e+06 2.2080e+06 1.3280e+06 1.1780e+06 1.3780e+06
 1.9980e+06 5.8000e+04 1.1180e+06 4.8000e+04 2.5080e+06 1.5280e+06
 1.2880e+06 2.0580e+06 1.4480e+06 1.5580e+06 1.5780e+06 3.2580e+06
 3.8000e+04 2.8080e+06 1.7980e+06 1.8280e+06 5.2580e+06 1.8680e+06
 1.4580e+06 1.7280e+06 2.4580e+06 1.8880e+06 5.2080e+06 1.6280e+06
 1.5480e+06 4.4380e+06 6.4080e+06 1.9580e+06 1.6780e+06 1.5880e+06
 1.3180e+06 1.1880e+06 1.7780e+06 3.5680e+06 2.2580e+06 2.1580e+06
 2.6180e+06 2.4080e+06 3.0080e+06 3.2080e+06 1.6180e+06 2.7080e+06
 1.4780e+06 6.5080e+06 3.3680e+06 3.0780e+06 1.7880e+06 2.4780e+06
 4.3580e+06 3.5580e+06 2.4880e+06 4.2080e+06 2.5580e+06 3.5080e+06
 3.6580e+06 2.4980e+06 1.6680e+06 3.0680e+06 2.6880e+06 2.9080e+06
 1.7180e+06 1.7380e+06 1.7480e+06 1.3880e+06 1.3980e+06 1.8580e+06
 1.9680e+06 2.2280e+06 1.9880e+06 1.6380e+06 2.8980e+06 1.3480e+06
 3.1280e+06 2.3580e+06 3.1980e+06 2.5880e+06 3.6880e+06 4.0080e+06
 3.0980e+06 2.2980e+06 1.8380e+06 1.6980e+06 2.4180e+06 4.8780e+06
 4.5080e+06 1.9780e+06 3.9080e+06 8.0000e+03 1.6508e+07 1.4980e+06
 5.0080e+06 4.4980e+06 2.0480e+06 2.1780e+06 1.5980e+06 1.6880e+06
 2.1980e+06 2.7580e+06 3.1580e+06 2.0380e+06 2.3280e+06 3.8180e+06
 2.8380e+06 5.3080e+06 2.6780e+06 2.7180e+06 2.0280e+06 2.4280e+06
 1.9180e+06 2.5280e+06 2.2680e+06 2.8000e+04 4.4580e+06 2.5480e+06
 2.9480e+06 2.8580e+06 1.7680e+06 1.8780e+06 4.4080e+06 3.5780e+06
 2.2180e+06 1.9280e+06 3.2980e+06 3.8580e+06 2.3380e+06 4.7780e+06
 1.8180e+06 4.6080e+06 3.2180e+06 3.2680e+06 1.8480e+06 2.0980e+06
 2.8880e+06 2.6580e+06 3.2280e+06 2.5680e+06 2.6280e+06 4.2580e+06
 1.1008e+07 6.9080e+06 3.0180e+06 2.3780e+06 1.8980e+06 2.8180e+06
 3.4880e+06 2.3180e+06 2.9680e+06 4.7580e+06 2.3880e+06 3.7880e+06
 2.1180e+06 5.5080e+06 3.0280e+06 2.2380e+06 4.1580e+06 1.9380e+06
 2.9280e+06 5.7580e+06 2.2780e+06 3.8780e+06 4.0580e+06 2.1480e+06
 4.6480e+06 2.9580e+06 2.3680e+06 3.0580e+06 3.4280e+06 2.5380e+06
 2.9380e+06 6.0580e+06 3.4580e+06 2.4680e+06 2.4380e+06 4.2180e+06
 2.1880e+06 3.2780e+06 3.3780e+06 2.0880e+06 2.8480e+06 2.5780e+06
 2.1380e+06 4.4480e+06 2.6680e+06 4.0880e+06 4.1080e+06 3.0380e+06
 6.1080e+06 4.4280e+06 2.7280e+06 8.5080e+06 3.7080e+06 3.0880e+06
 1.2008e+07 4.6580e+06 2.7780e+06 1.0008e+07 3.1680e+06 3.6080e+06
 2.5180e+06 2.0680e+06 3.7780e+06 5.0580e+06 4.5580e+06 3.7680e+06
 2.0180e+06 2.7680e+06 2.8280e+06 6.2080e+06 4.2880e+06 7.6080e+06
 2.4480e+06 3.6780e+06 3.9680e+06 9.2680e+06 2.6380e+06 4.9080e+06
 3.3280e+06 3.7280e+06 4.9180e+06 1.8000e+04 3.1780e+06 2.3480e+06
 2.6980e+06]

Values for  construction_type
['sb' 'mh']

Values for  occupancy_type
['pr' 'sr' 'ir']

Values for  Secured_by
['home' 'land']

Values for  total_units
['1U' '2U' '3U' '4U']

Values for  income
[ 1740.  4980.  9480. ... 72060. 78720. 79920.]

Values for  credit_type
['EXP' 'EQUI' 'CRIF' 'CIB']

Values for  Credit_Score
[758 552 834 587 602 864 860 863 580 788 723 501 884 520 773 685 846 534
 629 688 668 692 620 533 518 812 647 683 705 701 591 889 651 716 780 799
 766 868 765 673 876 886 772 640 798 858 543 555 603 808 519 786 769 556
 567 632 818 584 750 838 741 820 665 783 663 612 739 571 870 793 804 801
 711 634 764 865 593 511 677 774 638 644 732 586 642 872 898 734 639 506
 664 670 577 857 653 595 787 560 613 514 867 717 619 600 524 883 503 887
 604 648 797 806 845 815 585 729 538 791 671 572 755 760 578 836 900 777
 667 880 568 805 590 892 540 869 737 831 608 803 795 674 781 545 796 660
 850 851 794 866 611 621 862 829 848 775 733 700 633 702 882 686 652 844
 649 557 761 569 523 740 690 616 782 601 809 855 768 627 854 762 746 592
 703 697 710 522 789 693 597 680 575 694 581 678 714 871 800 853 718 713
 874 625 626 500 695 517 759 792 822 516 704 605 539 598 763 515 508 529
 830 551 715 802 879 743 699 617 661 896 856 861 767 656 875 778 893 785
 779 565 753 852 719 744 770 614 888 547 728 618 574 505 807 530 814 843
 635 824 559 837 847 885 630 589 654 724 527 738 811 546 537 594 658 583
 666 742 512 877 706 727 698 609 623 544 645 657 712 513 771 736 536 828
 588 730 731 646 563 525 784 725 752 756 833 561 570 899 890 720 722 526
 553 596 549 709 735 776 881 669 726 535 745 636 684 827 672 573 816 707
 607 817 873 810 679 558 624 825 708 502 659 757 599 749 894 541 675 615
 641 682 628 582 832 550 528 509 821 849 691 826 662 504 676 579 689 622
 721 835 532 751 748 610 754 878 823 562 548 631 637 606 687 564 696 819
 839 840 747 681 566 891 790 897 542 813 859 650 842 521 841 531 643 655
 507 576 510 554 895]

Values for  co-applicant_credit_type

['CIB' 'EXP']

Values for  age
['25-34' '55-64' '35-44' '45-54' '65-74' '>74' '<25']

Values for  submission_of_application
['to_inst' 'not_inst' 'Not available']

Values for  Region
['south' 'North' 'central' 'North-East']

Values for  Security_Type
['direct' 'Indriect']

Values for  Status
[1 0]

Values for  dtir1
[45. nan 46. 42. 39. 40. 44. 30. 36. 51. 20. 31.  6. 35. 34. 49. 37. 41.
 38. 56. 23. 28. 11. 27. 55. 22. 24. 52. 33. 26. 47. 60. 25. 32. 10. 15.
 53.  7. 19. 48. 59. 57.  9. 50. 21. 58. 29. 43. 17. 54. 13. 12. 16. 61.
 18. 14.  8.  5.]

In [21]:
# Performing Label Encoding and One Hot Encoding

stru = {
        "loan_limit" : {"ncf": 0, "cf": 1, "Not available": 9 },
        "approv_in_adv" : {"nopre": 0, "pre": 1 },
        "open_credit" : {"nopc": 0, "opc": 1 },
        "business_or_commercial" : {"nob/c": 0, "b/c": 1},
        "Neg_ammortization" : {"not_neg": 0, "neg_amm": 1},
        "interest_only" : {"not_int": 0, "int_only": 1},
        "lump_sum_payment" : {"not_lpsm": 0, "lpsm": 1},
        "age" : {"<25": 0, "25-34": 1, "35-44": 2, "45-54": 3, "55-64": 4, "65-74": 5, ">74": 6 },
        "submission_of_application" : {"not_inst": 0, "to_inst": 1, "Not available": 2 },
}

# Columns for One Hot Encoding

oneHotCols=["Gender", "loan_type", "Credit_Worthiness", "construction_type", "occupancy_type", "Secured_by", "total_units",
           "credit_type", "co-applicant_credit_type", "Region", "Security_Type"]

# Performing Label Encoding

df1 = df1.replace(stru)

# Performing One Hot Encoding

df1 = pd.get_dummies(df1, oneHotCols)

In [22]:
df1["Status"].value_counts()

0    112031
1     36639
Name: Status, dtype: int64

In [23]:
df1 = df1.dropna()

In [24]:
df1.shape

(124549, 49)

In [25]:
df1.head()

,ID,loan_limit,approv_in_adv,open_credit,business_or_commercial,loan_amount,rate_of_interest,Neg_ammortization,interest_only,lump_sum_payment,...,credit_type_EQUI,credit_type_EXP,co-applicant_credit_type_CIB,co-applicant_credit_type_EXP,Region_North,Region_North-East,Region_central,Region_south,Security_Type_Indriect,Security_Type_direct
0,24890,1,0,0,0,116500,3.99,0,0,0,...,0,1,1,0,0,0,0,1,0,1
2,24892,1,1,0,0,406500,4.56,1,0,0,...,0,1,1,0,0,0,0,1,0,1
3,24893,1,0,0,0,456500,4.25,0,0,0,...,0,1,1,0,1,0,0,0,0,1
4,24894,1,1,0,0,696500,4.00,0,0,0,...,0,0,0,1,1,0,0,0,0,1
5,24895,1,1,0,0,706500,3.99,0,0,0,...,0,1,0,1,1,0,0,0,0,1

In [26]:
from sklearn.model_selection import train_test_split

x = df1.drop("Status", axis = 1)
y = df1["Status"]

x_tr, x_val, y_tr, y_val = train_test_split(x, y, test_size = .3, random_state = 9)

In [27]:
from imblearn.over_sampling import SMOTE
sm = SMOTE(sampling_strategy = 1 ,k_neighbors = 15)   #Synthetic Minority Over Sampling Technique
x_tr_res, y_tr_res = sm.fit_resample(x_tr, y_tr.ravel())

In [28]:
from sklearn.preprocessing import StandardScaler

sc = StandardScaler()
sc.fit(x_tr_res)
x_tr = sc.transform(x_tr_res)
x_val = sc.transform(x_val)

In [29]:
from sklearn.linear_model import LogisticRegression
from sklearn.metrics import f1_score

lr = LogisticRegression(solver = "liblinear")
lr.fit(x_tr, y_tr_res)
print(lr.score(x_tr, y_tr_res))
lr_pr = lr.predict(x_val)
print("F1 Score: ", f1_score(y_val,lr_pr))

0.901206305688828
F1 Score:  0.21172865301574034

In [30]:
print(lr.score(x_val, y_val))

0.8485481065167938

In [33]:
from sklearn.neighbors import KNeighborsClassifier
a = []
for i in range(10,25,2):
    knn = KNeighborsClassifier(n_neighbors = i)
    knn.fit(x_tr, y_tr_res)
    acc = knn.score(x_val, y_val)
    print("For ",i , "neighbours, accuracy is ", acc)
    n=[i,acc]
    a.append(n)

For  10 neighbours, accuracy is  0.853633079084705
For  12 neighbours, accuracy is  0.8541148133279808
For  14 neighbours, accuracy is  0.8547035996253178
For  16 neighbours, accuracy is  0.8549177037334403
For  18 neighbours, accuracy is  0.8555600160578081
For  20 neighbours, accuracy is  0.8547838886658637
For  22 neighbours, accuracy is  0.8546233105847718
For  24 neighbours, accuracy is  0.8541148133279808

In [34]:
knn = KNeighborsClassifier(n_neighbors = 18)
knn.fit(x_tr, y_tr_res)
print(knn.score(x_tr, y_tr_res))
knn_pr = knn.predict(x_val)
print(knn.score(x_val, y_val))
print(f1_score(y_val, knn_pr))

0.9086223440712817
0.8555600160578081
0.32781168265039234

In [35]:
from sklearn import svm
m = svm.SVC(gamma = .025, C = 3)
m.fit(x_tr, y_tr_res)
svm_pr = m.predict(x_val)
print(m.score(x_tr, y_tr_res))
print(m.score(x_val, y_val))
print(f1_score(y_val, svm_pr))

0.9360520904729267
0.8836611802488961
0.5422765083710646

In [36]:
from sklearn.tree import DecisionTreeClassifier
dt = DecisionTreeClassifier(criterion = "entropy",  max_depth=5)
dt = dt.fit(x_tr, y_tr_res)
print(dt.score(x_tr, y_tr_res))
dt_pr = dt.predict(x_val)
print(dt.score(x_val, y_val))
print(f1_score(y_val, dt_pr))

0.9339410555174777
0.8866854007761273
0.7422065270336093

In [37]:
from sklearn.ensemble import RandomForestClassifier

rtr = RandomForestClassifier(n_estimators = 20, max_features = 30)
rtr = rtr.fit(x_tr, y_tr_res)
print(rtr.score(x_tr, y_tr_res))
print(rtr.score(x_val, y_val))
rtr_pr = rtr.predict(x_val)
print(f1_score(y_val, rtr_pr))

0.999520219328307
0.9094071992506356
0.7315835381809532

In [38]:
df2 = df2.replace(stru)
df2 = pd.get_dummies(df2, oneHotCols)

In [39]:
x_test = pd.DataFrame(df2)
x_test.head()
x_test = sc.transform(x_test)
x_test = pd.DataFrame(x_test)
x_test = x_test.replace((np.inf, -np.inf, np.nan), 0).reset_index(drop=True)
test_pre = dt.predict(x_test)

In [40]:
from sklearn.preprocessing import PolynomialFeatures
trans = PolynomialFeatures(degree=2, interaction_only = True)
x_tr = trans.fit_transform(x_tr)
x_val = trans.transform(x_val)


dt = DecisionTreeClassifier(criterion = "entropy",  max_depth=5)
dt = dt.fit(x_tr, y_tr_res)
print(dt.score(x_tr, y_tr_res))
dt_pr = dt.predict(x_val)
print(dt.score(x_val, y_val))
print(f1_score(y_val, dt_pr))

rtr = RandomForestClassifier(n_estimators = 20, max_features = 30)
rtr = rtr.fit(x_tr, y_tr_res)
print(rtr.score(x_tr, y_tr_res))
print(rtr.score(x_val, y_val))
rtr_pr = rtr.predict(x_val)
print(f1_score(y_val, rtr_pr))

0.933173406442769
0.885909273384183
0.740898316416459
0.9996847155586018
0.9120835006021678
0.7404188067957329

In [41]:
df2["Status"] = test_pre

In [42]:
df2.head()

,ID,loan_limit,approv_in_adv,open_credit,business_or_commercial,loan_amount,rate_of_interest,Neg_ammortization,interest_only,lump_sum_payment,...,credit_type_EXP,co-applicant_credit_type_CIB,co-applicant_credit_type_EXP,Region_North,Region_North-East,Region_central,Region_south,Security_Type_Indriect,Security_Type_direct,Status
0,173560,1,0,0,0,266500,4.125,0,0,0,...,1,1,0,1,0,0,0,0,1,0
1,173561,1,0,0,0,116500,4.990,1,0,0,...,1,1,0,0,0,0,1,0,1,0
2,173562,1,0,0,1,196500,3.990,0,0,0,...,0,0,1,1,0,0,0,0,1,1
3,173563,1,0,0,0,116500,4.750,1,0,0,...,1,1,0,1,0,0,0,0,1,0
4,173564,1,0,0,1,306500,3.990,1,0,0,...,1,0,1,1,0,0,0,0,1,1

In [44]:
df = pd.DataFrame(df2[["ID","Status"]])

In [45]:
df.head()

       ID  Status
0  173560       0
1  173561       0
2  173562       1
3  173563       0
4  173564       1

In [47]:
df.to_csv("res.csv", index = False)